# My First Notebook
## Introduction

In [ ]:
#import

In [ ]:
#read csv

In [ ]:
#shape

In [ ]:
#data types

In [ ]:
#columns

In [ ]:
#describe

In [ ]:
#convert date column and display new data types

In [ ]:
#check for number of NaN

In [ ]:
#drop and rename columns, then display the new columns

In [ ]:
#plot data

In [ ]:
#scatter plots

In [ ]:
#Overlay a plot of your own line
# First add a new column

In [ ]:
#plot

In [ ]:
#plot linear fit

In [ ]:
#check columns

In [ ]:
#moving average trendline

In [ ]:
# experiment looping through a Series
# ratio = []

# for i in range(delhi_df.index.size):
#   value = delhi_df['mean temp'].iloc[i]/delhi_df['humidity'].iloc[i]
#   ratio.append(value)

# delhi_df['ratio'] = pd.Series(ratio)

# delhi_df.head(5)